{% load static %}

<link rel="stylesheet" href="{% static 'accounts/popup.css' %}">


{% if messages %}
    {% for message in messages %}
    <div class="after-click" style="{{ message.tags }}">
        <span style="color: #000">{{message}}</span>
    </div>
    {% endfor %}
{% endif %}
<script>

let popUp = document.querySelector('.after-click')
console.log(popUp)

setTimeout(function() {
    popUp.classList.toggle('najla')
}, 4000)


setTimeout(function() {
    popUp.classList.toggle('activeNajla')
}, 50)

</script>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="login">
</form>
